# Data Sources

In [1]:
import requests
import pandas as pd
import json
from datetime import datetime, timedelta
import math
from itertools import product
import io

In [ ]:
with open('keys.json', 'r') as KeysFile:
    data = json.load(KeysFile)

aviationStackAPIKey = data["Aviation Stack API KEY"]

## Country Data

In [ ]:
def getCountryCodes(country: str):
    urlCountry = f"https://api.aviationstack.com/v1/countries?access_key={aviationStackAPIKey}"
    queryStringCountry = {"search": country}
    responseCountry = requests.get(urlCountry, params=queryStringCountry)
    responseCountry = responseCountry.json()
    responseCountry = responseCountry.get('data')
    codes = [c.get('country_iso2') for c in responseCountry]
    return codes

In [ ]:
def getAirportsByCountry(code: str):
    urlAirport = f"https://api.aviationstack.com/v1/airports?access_key={aviationStackAPIKey}"

    offset = 0
    all_data = []

    while True:
        queryStringAirport = {"offset": offset, "country_iso": code, "type": "international"}
        responseAirport = requests.get(urlAirport, params=queryStringAirport)
        responseAirport = responseAirport.json()

        currentData = responseAirport.get('data', [])
        currentData = [airP for airP in currentData if airP.get('country_iso2') == code]
        all_data.extend(currentData)

        if offset + 100 >= responseAirport.get('pagination').get('total'):
            break

        offset += 100

    airports_df = pd.DataFrame(columns=['IATA', 'CountryCode', 'AirportName', 'Country'])

    for case in all_data:
        new_case = {'IATA': case.get('iata_code', ''),
                    'CountryCode': case.get('country_iso2', ''),
                    'AirportName': case.get('airport_name', ''),
                    'Country': case.get('country_name', '')}
        airports_df.loc[len(airports_df)] = new_case

    return airports_df

## Historical Flight Data

In [ ]:
def getHistoricalFlights(departureIATA: str=None, arrivalIATA: str=None, date: str=None):
    url = f"https://api.aviationstack.com/v1/flights?access_key={aviationStackAPIKey}"
    queryString = {"limit": 100, "dep_iata": departureIATA, "arr_iata": arrivalIATA, "flight_date": date}
    queryString = {key: value for key, value in queryString.items() if value is not None}
    print(queryString)
    response = requests.get(url, params=queryString)
    if response.status_code != 200:
        print(response)
        return None

    response = response.json()
    response = response['data']
    flights_df = pd.DataFrame(columns=['Date', 'DepartureIATA', 'DepartureTime', 'ArrivalIATA', 'ArrivalTime', 'Aircraft', 'AirlineName', 'AirlineIATA', 'FlightNumberIATA'])
    for flight in response:
        if isinstance(flight, dict) and flight.get('flight', {}).get('codeshared') is None:
            new_case = {
                'Date': date,
                'DepartureIATA': flight.get('departure', {}).get('iata', None),
                'DepartureTime': flight.get('departure', {}).get('scheduled', None),
                'ArrivalIATA': flight.get('arrival', {}).get('iata', None),
                'ArrivalTime': flight.get('arrival', {}).get('scheduled', None),
                'Aircraft': flight.get('aircraft', {}).get('iata', None) if flight.get('aircraft') is not None else None,
                'AirlineName': flight.get('airline', {}).get('name', None),
                'AirlineIATA': flight.get('airline', {}).get('iata', None),
                'FlightNumberIATA': flight.get('flight', {}).get('iata', None)
            }
            flights_df.loc[len(flights_df)] = new_case

    return flights_df

### Get Country Codes for US Brazil Portugal Canada Italy France

In [ ]:
US_codes = getCountryCodes('United States')
Brazil_codes = getCountryCodes('Brazil')
Portugal_codes = getCountryCodes('Portugal')
Mexico_codes = getCountryCodes('Mexico')
Italy_codes = getCountryCodes('Italy')
France_codes = getCountryCodes('France')

In [ ]:
print(f"Country codes:\nUS: {US_codes}\nBrazil: {Brazil_codes}\nPortugal: {Portugal_codes}\nMexico: {Mexico_codes}\nItaly: {Italy_codes}\nFrance: {France_codes}")

Country codes:
US: ['UM', 'US']
Brazil: ['BR']
Portugal: ['PT']
Mexico: ['MX']
Italy: ['IT']
France: ['FR', 'MQ']

In [ ]:
US_airports = ['JFK', 'ATL', 'DTW', 'LAX']
Italy_airports = ['FCO']
France_airports = ['CDG']
Brazil_airports = ['GRU']
Portugal_airports = ['LIS']
Mexico_airports = ['CUN']

In [ ]:
US_Italy = list(product(US_airports, Italy_airports))
US_France = list(product(US_airports, France_airports))
US_Brazil = list(product(US_airports, Brazil_airports))
US_Portugal = list(product(US_airports, Portugal_airports))
US_Mexico = list(product(US_airports, Mexico_airports))
airport_combinations = US_Italy + US_France + US_Brazil + US_Portugal + US_Mexico

In [ ]:
dates = [datetime(2024, 1, 1) + timedelta(days=i) for i in range(366)]
dates = [i.strftime("%Y-%m-%d") for i in dates]

In [ ]:
getHistoricalFlights(departureIATA='JFK', arrivalIATA='CDG', date='2024-04-03')

{'limit': 100, 'dep_iata': 'JFK', 'arr_iata': 'CDG', 'flight_date': '2024-04-03'}

,Date,DepartureIATA,DepartureTime,ArrivalIATA,ArrivalTime,Aircraft,AirlineName,AirlineIATA,FlightNumberIATA
0,2024-04-03,JFK,2024-04-03T17:35:00+00:00,CDG,2024-04-04T06:55:00+00:00,B772,American Airlines,AA,AA44
1,2024-04-03,JFK,2024-04-03T16:30:00+00:00,CDG,2024-04-04T05:55:00+00:00,B77W,Air France,AF,AF1
2,2024-04-03,JFK,2024-04-03T17:30:00+00:00,CDG,2024-04-04T06:45:00+00:00,A359,Air France,AF,AF3
3,2024-04-03,JFK,2024-04-03T18:30:00+00:00,CDG,2024-04-04T08:05:00+00:00,B77W,Air France,AF,AF5
4,2024-04-03,JFK,2024-04-03T21:30:00+00:00,CDG,2024-04-04T11:05:00+00:00,B772,Air France,AF,AF7
5,2024-04-03,JFK,2024-04-03T23:15:00+00:00,CDG,2024-04-04T12:40:00+00:00,B77W,Air France,AF,AF9
6,2024-04-03,JFK,2024-04-03T17:07:00+00:00,CDG,2024-04-04T06:55:00+00:00,None,JetBlue Airways,B6,B61407
7,2024-04-03,JFK,2024-04-03T19:30:00+00:00,CDG,2024-04-04T09:15:00+00:00,None,Delta Air Lines,DL,DL262
8,2024-04-03,JFK,2024-04-03T22:30:00+00:00,CDG,2024-04-04T12:10:00+00:00,A333,Delta Air Lines,DL,DL264
9,2024-04-03,JFK,2024-04-03T08:05:00+00:00,CDG,2024-04-03T21:35:00+00:00,B764,Delta Air Lines,DL,DL266
10,2024-04-03,JFK,2024-04-03T00:30:00+00:00,CDG,2024-04-03T13:35:00+00:00,B789,Norse,N0,N0302

In [ ]:
365*len(airport_combinations)

7300

In [ ]:
df_all_flights = pd.DataFrame(columns=['Date', 'DepartureIATA', 'DepartureTime', 'ArrivalIATA', 'ArrivalTime', 'Aircraft', 'AirlineName', 'AirlineIATA', 'FlightNumberIATA'])
for city_pair in airport_combinations:
    for current_date in dates:
        temp_df = getHistoricalFlights(departureIATA=city_pair[0], arrivalIATA=city_pair[1], date=current_date)
        df_all_flights = pd.concat([temp_df, df_all_flights], ignore_index=True)

{'limit': 100, 'dep_iata': 'BOS', 'arr_iata': 'FCO', 'flight_date': '2024-12-01'}

,Date,DepartureIATA,DepartureTime,ArrivalIATA,ArrivalTime,Aircraft,AirlineName,AirlineIATA,FlightNumberIATA
0,2024-12-01,BOS,2024-12-01T17:20:00+00:00,FCO,2024-12-02T07:15:00+00:00,A332,ITA Airways,AZ,AZ615
1,2024-12-01,BOS,2024-12-01T17:55:00+00:00,FCO,2024-12-02T07:55:00+00:00,A339,Delta Air Lines,DL,DL112

## Future Flights

In [ ]:
def getFutureFlights(departureIATA: str=None, arrivalIATA: str=None, date: str=None, airlineIATA: str=None, flightNumber: str=None):
    url = f"https://api.aviationstack.com/v1/flightsFuture?access_key={aviationStackAPIKey}"
    if not ((departureIATA is None) ^ (arrivalIATA is None)):
        return "Invalid Request"

    if departureIATA:
        queryString = {
            "iataCode": departureIATA,
            "type": "departure",
            "date": date,
            "airline_iata": airlineIATA,
            "flight_number":flightNumber
        }

    else:
        queryString = {
            "iataCode": arrivalIATA,
            "type": "arrival",
            "date": date,
            "airline_iata": airlineIATA,
            "flight_number":flightNumber
        }

    queryString = {key: value for key, value in queryString.items() if value is not None}
    response = requests.get(url, params=queryString)
    if response.status_code != 200:
        print(response)
        return None
    response = response.json()
    response = response['data']
    response = [flight for flight in response if "codeshared" not in flight.keys()]
    df = pd.DataFrame(columns=['Date', 'Weekday', 'DepartureIATA', 'DepartureTime', 'ArrivalIATA', 'ArrivalTime', 'Aircraft', 'AirlineIATA', 'FlightNumberIATA'])

    for flight in response:
        new_case = {'Date': date,
                    'Weekday': flight['weekday'],
                    'DepartureIATA': flight['departure']['iataCode'],
                    'DepartureTime': flight['departure']['scheduledTime'],
                    'ArrivalIATA': flight['arrival']['iataCode'],
                    'ArrivalTime': flight['arrival']['scheduledTime'],
                    'Aircraft': flight['aircraft']['modelCode'],
                    'AirlineIATA': flight['airline']['iataCode'],
                    'FlightNumberIATA': flight['flight']['iataNumber']}
        df.loc[len(df)] = new_case

    return df

In [ ]:
getFutureFlights(departureIATA="ATL", date="2024-11-29", airlineIATA="DL")

## OECD API

https://data-explorer.oecd.org/vis?fs[0]=Topic%2C1%7CEconomy%23ECO%23%7CShort-term%20economic%20statistics%23ECO_STS%23&pg=0&fc=Topic&bp=true&snb=54&vw=tb&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_KEI%40DF_KEI&df[ag]=OECD.SDD.STES&df[vs]=4.0&dq=.M.PRVM.IX.BTE..&lom=LASTNPERIODS&lo=5&to[TIME_PERIOD]=false&ly[cl]=TIME_PERIOD&ly[rw]=REF_AREA

https://www.oecd.org/en/data/insights/data-explainers/2024/09/api.html

In [8]:
urlConsumerConfidence= 'https://sdmx.oecd.org/public/rest/data/OECD.SDD.STES,DSD_STES@DF_CS,4.0/.M.ES......?startPeriod=2024-01&endPeriod=2024-09&dimensionAtObservation=AllDimensions&format=csvfilewithlabels'
responseConsumerConfidence = requests.get(urlConsumerConfidence).content
urlKeyEconomic = 'https://sdmx.oecd.org/public/rest/data/OECD.SDD.STES,DSD_KEI@DF_KEI,4.0/.M.PRVM.IX.BTE..?startPeriod=2024-01&endPeriod=2024-09&dimensionAtObservation=AllDimensions&format=csvfilewithlabels'
responseKeyEconomic = requests.get(urlKeyEconomic).content
urlUnemployment = 'https://sdmx.oecd.org/public/rest/data/OECD.SDD.TPS,DSD_LFS@DF_IALFS_UNE_M,1.0/..._Z.Y._T.Y_GE15..M?startPeriod=2024-01&endPeriod=2024-09&dimensionAtObservation=AllDimensions&format=csvfilewithlabels'
responseUnemployment = requests.get(urlUnemployment).content
urlConsumerBaro ='https://sdmx.oecd.org/public/rest/data/OECD.SDD.STES,DSD_STES@DF_CSBAR,4.0/.M.......?startPeriod=2024-01&endPeriod=2024-09&dimensionAtObservation=AllDimensions&format=csvfilewithlabels'
responseConsumerBaro = requests.get(urlConsumerBaro).content

In [9]:
df_KeyEconomic = pd.read_csv(io.StringIO(responseKeyEconomic.decode('utf-8')))
df_Unemployment = pd.read_csv(io.StringIO(responseUnemployment.decode('utf-8')))
df_ConsumerConfidence = pd.read_csv(io.StringIO(responseConsumerConfidence.decode('utf-8')))
df_ConsumerBaro = pd.read_csv(io.StringIO(responseConsumerBaro.decode('utf-8')))

In [68]:
print(df_KeyEconomic.columns)

Index(['You have exceeded the number of requests for data downloads or very large data ranges permitted in the OECD Data API. Please contact us through the OECD Data Explorer (https://data-explorer.oecd.org) feedback form (indicating your IP address) to request more details or exceptions.'], dtype='object')

In [10]:
df_KeyEconomic = df_KeyEconomic[df_KeyEconomic['Reference area'].isin(['Italy', 'France', 'Mexico', 'Korea', 'Portugal'])]
df_Unemployment = df_Unemployment[df_Unemployment['Reference area'].isin(['Italy', 'France', 'Mexico', 'Korea', 'Portugal'])]
df_ConsumerConfidence = df_ConsumerConfidence[df_ConsumerConfidence['Reference area'].isin(['Italy', 'France', 'Mexico', 'Korea', 'Portugal'])]
df_ConsumerBaro = df_ConsumerBaro[df_ConsumerBaro['Reference area'].isin(['Italy', 'France', 'Mexico', 'Korea', 'Portugal'])]

In [11]:
df_Unemployment[['Reference area', 'TIME_PERIOD', 'OBS_VALUE']].sort_values('Reference area')

    Reference area TIME_PERIOD  OBS_VALUE
185         France     2024-03   7.400000
344         France     2024-09   7.500000
182         France     2024-06   7.500000
183         France     2024-05   7.500000
184         France     2024-04   7.400000
180         France     2024-08   7.500000
186         France     2024-02   7.500000
187         France     2024-01   7.500000
181         France     2024-07   7.500000
157          Italy     2024-07   6.300000
163          Italy     2024-01   7.200000
341          Italy     2024-09   6.000000
161          Italy     2024-03   6.900000
160          Italy     2024-04   6.700000
159          Italy     2024-05   6.700000
158          Italy     2024-06   6.700000
162          Italy     2024-02   7.300000
156          Italy     2024-08   6.100000
240          Korea     2024-07   2.500000
246          Korea     2024-01   3.000000
245          Korea     2024-02   2.600000
244          Korea     2024-03   2.800000
243          Korea     2024-04   2.800000
242          Korea     2024-05   2.800000
241          Korea     2024-06   2.800000
239          Korea     2024-08   2.400000
353          Korea     2024-09   2.500000
51          Mexico     2024-01   2.731031
45          Mexico     2024-07   2.712374
46          Mexico     2024-06   2.763282
47          Mexico     2024-05   2.661897
48          Mexico     2024-04   2.706683
49          Mexico     2024-03   2.605951
50          Mexico     2024-02   2.516008
6           Mexico     2024-09   2.704281
207         Mexico     2024-08   2.780646
115       Portugal     2024-01   6.400000
109       Portugal     2024-07   6.500000
110       Portugal     2024-06   6.500000
111       Portugal     2024-05   6.400000
112       Portugal     2024-04   6.300000
335       Portugal     2024-09   6.600000
113       Portugal     2024-03   6.400000
108       Portugal     2024-08   6.400000
114       Portugal     2024-02   6.500000

In [12]:
df_ConsumerConfidence[['Reference area', 'TIME_PERIOD', 'OBS_VALUE']].sort_values('Reference area')

    Reference area TIME_PERIOD  OBS_VALUE
243         France     2024-09     -26.60
69          France     2024-01     -21.40
70          France     2024-02     -29.60
71          France     2024-03     -29.10
72          France     2024-04     -34.40
73          France     2024-05     -30.40
74          France     2024-06     -32.60
75          France     2024-07     -38.50
76          France     2024-08     -27.70
210          Italy     2024-08     -18.00
209          Italy     2024-07     -14.20
208          Italy     2024-06     -16.40
202          Italy     2024-03     -12.80
201          Italy     2024-02     -14.00
200          Italy     2024-01     -11.60
238          Italy     2024-09     -14.80
5            Italy     2024-04     -18.70
6            Italy     2024-05     -19.30
196          Korea     2024-05     -21.00
237          Korea     2024-09     -21.00
199          Korea     2024-08     -19.00
198          Korea     2024-07     -16.00
197          Korea     2024-06     -20.00
195          Korea     2024-04     -19.00
194          Korea     2024-03     -20.00
192          Korea     2024-01     -19.00
193          Korea     2024-02     -20.00
233         Mexico     2024-09      51.17
164         Mexico     2024-05      50.12
166         Mexico     2024-07      51.62
165         Mexico     2024-06      52.16
163         Mexico     2024-04      49.80
162         Mexico     2024-03      49.91
161         Mexico     2024-02      49.99
160         Mexico     2024-01      50.49
167         Mexico     2024-08      51.89
142       Portugal     2024-07     -11.60
141       Portugal     2024-06     -14.30
140       Portugal     2024-05     -18.80
139       Portugal     2024-04     -17.00
138       Portugal     2024-03     -24.20
137       Portugal     2024-02     -28.30
136       Portugal     2024-01     -32.10
230       Portugal     2024-09     -12.90
143       Portugal     2024-08     -14.30

In [13]:
df_ConsumerConfidence.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, 5 to 243
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   STRUCTURE                 45 non-null     object
 1   STRUCTURE_ID              45 non-null     object
 2   STRUCTURE_NAME            45 non-null     object
 3   ACTION                    45 non-null     object
 4   REF_AREA                  45 non-null     object
 5   Reference area            45 non-null     object
 6   FREQ                      45 non-null     object
 7   Frequency of observation  45 non-null     object
 8   MEASURE                   45 non-null     object
 9   Measure                   45 non-null     object
 10  UNIT_MEASURE              45 non-null     object
 11  Unit of measure           45 non-null     object
 12  ACTIVITY                  45 non-null     object
 13  Economic activity         45 non-null     object
 14  ADJUSTMENT                45 non-null     object
 15  Adjustment                45 non-null     object
 16  TRANSFORMATION            45 non-null     object
 17  Transformation            45 non-null     object
 18  TIME_HORIZ                45 non-null     object
 19  Time horizon              45 non-null     object
 20  METHODOLOGY               45 non-null     object
 21  Calculation methodology   45 non-null     object
 22  TIME_PERIOD               45 non-null     object
 23  Time period               0 non-null      float64
 24  OBS_VALUE                 45 non-null     float64
 25  Observation value         0 non-null      float64
 26  OBS_STATUS                45 non-null     object
 27  Observation status        45 non-null     object
 28  UNIT_MULT                 45 non-null     int64
 29  Unit multiplier           45 non-null     object
 30  DECIMALS                  45 non-null     int64
 31  Decimals                  45 non-null     object
 32  BASE_PER                  0 non-null      float64
 33  Base period               0 non-null      float64
dtypes: float64(5), int64(2), object(27)
memory usage: 12.3+ KB

In [14]:
df_Unemployment.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, 6 to 353
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   STRUCTURE                 45 non-null     object
 1   STRUCTURE_ID              45 non-null     object
 2   STRUCTURE_NAME            45 non-null     object
 3   ACTION                    45 non-null     object
 4   REF_AREA                  45 non-null     object
 5   Reference area            45 non-null     object
 6   MEASURE                   45 non-null     object
 7   Measure                   45 non-null     object
 8   UNIT_MEASURE              45 non-null     object
 9   Unit of measure           45 non-null     object
 10  TRANSFORMATION            45 non-null     object
 11  Transformation            45 non-null     object
 12  ADJUSTMENT                45 non-null     object
 13  Adjustment                45 non-null     object
 14  SEX                       45 non-null     object
 15  Sex                       45 non-null     object
 16  AGE                       45 non-null     object
 17  Age                       45 non-null     object
 18  ACTIVITY                  45 non-null     object
 19  Economic activity         45 non-null     object
 20  FREQ                      45 non-null     object
 21  Frequency of observation  45 non-null     object
 22  TIME_PERIOD               45 non-null     object
 23  Time period               0 non-null      float64
 24  OBS_VALUE                 45 non-null     float64
 25  Observation value         0 non-null      float64
 26  BASE_PER                  0 non-null      float64
 27  Base period               0 non-null      float64
 28  OBS_STATUS                45 non-null     object
 29  Observation status        45 non-null     object
 30  UNIT_MULT                 45 non-null     int64
 31  Unit multiplier           45 non-null     object
 32  DECIMALS                  45 non-null     int64
 33  Decimals                  45 non-null     object
dtypes: float64(5), int64(2), object(27)
memory usage: 12.3+ KB

In [33]:
df_final = pd.merge(df_KeyEconomic[['Reference area', 'TIME_PERIOD', 'OBS_VALUE']], df_Unemployment[['Reference area', 'TIME_PERIOD', 'OBS_VALUE']], on=['Reference area', 'TIME_PERIOD'])
df_final = df_final.rename(columns={'OBS_VALUE_x': 'Production', 
                                  'OBS_VALUE_y': 'Unemployment'})
print(df_final)

   Reference area TIME_PERIOD  Production  Unemployment
0          France     2024-09   98.350045      7.500000
1          France     2024-08   99.105151      7.500000
2          France     2024-07   98.202947      7.500000
3          France     2024-06   97.898943      7.500000
4          France     2024-05   97.163451      7.500000
5          France     2024-04   99.242443      7.400000
6          France     2024-03   98.654049      7.400000
7          France     2024-02   98.752115      7.500000
8           Italy     2024-09   98.956049      6.000000
9           Italy     2024-08   99.377138      6.100000
10          Italy     2024-07   99.377138      6.300000
11          Italy     2024-06  100.324590      6.700000
12          Italy     2024-05   99.903500      6.700000
13          Italy     2024-04   99.377138      6.700000
14          Italy     2024-03  100.429862      6.900000
15          Italy     2024-02  100.956224      7.300000
16          Korea     2024-02  118.848752      2.600000
17         Mexico     2024-09  105.815188      2.704281
18         Mexico     2024-08  105.182602      2.780646
19         Mexico     2024-07  105.580483      2.712374
20         Mexico     2024-06  105.317490      2.763282
21         Mexico     2024-05  104.822308      2.661897
22         Mexico     2024-04  104.126981      2.706683
23         Mexico     2024-03  104.663708      2.605951
24         Mexico     2024-02  104.023322      2.516008
25       Portugal     2024-09   94.193967      6.600000
26       Portugal     2024-08   91.469348      6.400000
27       Portugal     2024-07   91.761271      6.500000
28       Portugal     2024-06   92.150503      6.500000
29       Portugal     2024-05   95.653584      6.400000
30       Portugal     2024-04   98.572819      6.300000
31       Portugal     2024-03  100.713591      6.400000
32       Portugal     2024-02   97.891664      6.500000
33         France     2024-01   98.340239      7.500000
34          Italy     2024-01  100.956224      7.200000
35          Korea     2024-01  115.443954      3.000000
36         Mexico     2024-01  104.303261      2.731031
37       Portugal     2024-01   97.307817      6.400000
38          Korea     2024-09  118.103953      2.500000
39          Korea     2024-08  118.210353      2.400000
40          Korea     2024-07  113.422355      2.500000
41          Korea     2024-06  118.103953      2.800000
42          Korea     2024-05  117.252753      2.800000
43          Korea     2024-04  118.103953      2.800000
44          Korea     2024-03  115.124754      2.800000

In [34]:
# Merge with consumer confidence data
df_final = pd.merge(df_final, 
                   df_ConsumerConfidence[['Reference area', 'TIME_PERIOD', 'OBS_VALUE']], 
                   on=['Reference area', 'TIME_PERIOD'])

df_final.to_csv('economic_indicators.csv', index=False)

print(df_final.to_csv)

<bound method NDFrame.to_csv of    Reference area TIME_PERIOD  Production  Unemployment  OBS_VALUE
0          France     2024-09   98.350045      7.500000     -26.60
1          France     2024-08   99.105151      7.500000     -27.70
2          France     2024-07   98.202947      7.500000     -38.50
3          France     2024-06   97.898943      7.500000     -32.60
4          France     2024-05   97.163451      7.500000     -30.40
5          France     2024-04   99.242443      7.400000     -34.40
6          France     2024-03   98.654049      7.400000     -29.10
7          France     2024-02   98.752115      7.500000     -29.60
8           Italy     2024-09   98.956049      6.000000     -14.80
9           Italy     2024-08   99.377138      6.100000     -18.00
10          Italy     2024-07   99.377138      6.300000     -14.20
11          Italy     2024-06  100.324590      6.700000     -16.40
12          Italy     2024-05   99.903500      6.700000     -19.30
13          Italy     2024-04   99.377138      6.700000     -18.70
14          Italy     2024-03  100.429862      6.900000     -12.80
15          Italy     2024-02  100.956224      7.300000     -14.00
16          Korea     2024-02  118.848752      2.600000     -20.00
17         Mexico     2024-09  105.815188      2.704281      51.17
18         Mexico     2024-08  105.182602      2.780646      51.89
19         Mexico     2024-07  105.580483      2.712374      51.62
20         Mexico     2024-06  105.317490      2.763282      52.16
21         Mexico     2024-05  104.822308      2.661897      50.12
22         Mexico     2024-04  104.126981      2.706683      49.80
23         Mexico     2024-03  104.663708      2.605951      49.91
24         Mexico     2024-02  104.023322      2.516008      49.99
25       Portugal     2024-09   94.193967      6.600000     -12.90
26       Portugal     2024-08   91.469348      6.400000     -14.30
27       Portugal     2024-07   91.761271      6.500000     -11.60
28       Portugal     2024-06   92.150503      6.500000     -14.30
29       Portugal     2024-05   95.653584      6.400000     -18.80
30       Portugal     2024-04   98.572819      6.300000     -17.00
31       Portugal     2024-03  100.713591      6.400000     -24.20
32       Portugal     2024-02   97.891664      6.500000     -28.30
33         France     2024-01   98.340239      7.500000     -21.40
34          Italy     2024-01  100.956224      7.200000     -11.60
35          Korea     2024-01  115.443954      3.000000     -19.00
36         Mexico     2024-01  104.303261      2.731031      50.49
37       Portugal     2024-01   97.307817      6.400000     -32.10
38          Korea     2024-09  118.103953      2.500000     -21.00
39          Korea     2024-08  118.210353      2.400000     -19.00
40          Korea     2024-07  113.422355      2.500000     -16.00
41          Korea     2024-06  118.103953      2.800000     -20.00
42          Korea     2024-05  117.252753      2.800000     -21.00
43          Korea     2024-04  118.103953      2.800000     -19.00
44          Korea     2024-03  115.124754      2.800000     -20.00>

In [35]:
# Merge with consumer confidence data
df_final = pd.merge(df_final, 
                   df_ConsumerBaro[['Reference area', 'TIME_PERIOD', 'OBS_VALUE']], 
                   on=['Reference area', 'TIME_PERIOD'])

df_final.to_csv('economic_indicators.csv', index=False)

print(df_final.to_csv)

<bound method NDFrame.to_csv of    Reference area TIME_PERIOD  Production  Unemployment  OBS_VALUE_x  \
0          France     2024-09   98.350045      7.500000       -26.60
1          France     2024-08   99.105151      7.500000       -27.70
2          France     2024-07   98.202947      7.500000       -38.50
3          France     2024-06   97.898943      7.500000       -32.60
4          France     2024-05   97.163451      7.500000       -30.40
5          France     2024-04   99.242443      7.400000       -34.40
6          France     2024-03   98.654049      7.400000       -29.10
7          France     2024-02   98.752115      7.500000       -29.60
8           Italy     2024-09   98.956049      6.000000       -14.80
9           Italy     2024-08   99.377138      6.100000       -18.00
10          Italy     2024-07   99.377138      6.300000       -14.20
11          Italy     2024-06  100.324590      6.700000       -16.40
12          Italy     2024-05   99.903500      6.700000       -19.30
13          Italy     2024-04   99.377138      6.700000       -18.70
14          Italy     2024-03  100.429862      6.900000       -12.80
15          Italy     2024-02  100.956224      7.300000       -14.00
16          Korea     2024-02  118.848752      2.600000       -20.00
17         Mexico     2024-09  105.815188      2.704281        51.17
18         Mexico     2024-08  105.182602      2.780646        51.89
19         Mexico     2024-07  105.580483      2.712374        51.62
20         Mexico     2024-06  105.317490      2.763282        52.16
21         Mexico     2024-05  104.822308      2.661897        50.12
22         Mexico     2024-04  104.126981      2.706683        49.80
23         Mexico     2024-03  104.663708      2.605951        49.91
24         Mexico     2024-02  104.023322      2.516008        49.99
25       Portugal     2024-09   94.193967      6.600000       -12.90
26       Portugal     2024-08   91.469348      6.400000       -14.30
27       Portugal     2024-07   91.761271      6.500000       -11.60
28       Portugal     2024-06   92.150503      6.500000       -14.30
29       Portugal     2024-05   95.653584      6.400000       -18.80
30       Portugal     2024-04   98.572819      6.300000       -17.00
31       Portugal     2024-03  100.713591      6.400000       -24.20
32       Portugal     2024-02   97.891664      6.500000       -28.30
33         France     2024-01   98.340239      7.500000       -21.40
34          Italy     2024-01  100.956224      7.200000       -11.60
35          Korea     2024-01  115.443954      3.000000       -19.00
36         Mexico     2024-01  104.303261      2.731031        50.49
37       Portugal     2024-01   97.307817      6.400000       -32.10
38          Korea     2024-09  118.103953      2.500000       -21.00
39          Korea     2024-08  118.210353      2.400000       -19.00
40          Korea     2024-07  113.422355      2.500000       -16.00
41          Korea     2024-06  118.103953      2.800000       -20.00
42          Korea     2024-05  117.252753      2.800000       -21.00
43          Korea     2024-04  118.103953      2.800000       -19.00
44          Korea     2024-03  115.124754      2.800000       -20.00

    OBS_VALUE_y
0      0.200768
1      0.356471
2     -0.123837
3     -0.123683
4      0.279064
5     -0.324518
6      0.154772
7     -0.446832
8      0.145720
9     -0.224698
10     0.278341
11     0.199211
12     0.066448
13    -0.304729
14    -0.105880
15     0.000000
16     0.035691
17    -0.089360
18     0.153423
19    -0.081759
20     0.171476
21    -0.107377
22     0.015342
23     0.025576
24     0.017907
25     0.115078
26    -0.180511
27     0.354066
28     0.074162
29    -0.041184
30     0.297407
31     0.215256
32     0.057987
33     0.309113
34     0.026477
35     0.226553
36     0.079364
37     0.182578
38    -0.095266
39    -0.332323
40     0.321484
41     0.298559
42    -0.273922
43     0.000000
44    -0.142712  >

In [36]:
df_final = df_final.rename(columns={
    'OBS_VALUE_x': 'Confidence',
    'OBS_VALUE_y': 'Baro'
})

df_final.to_csv('economic_indicators.csv', index=False)

print(df_final)

   Reference area TIME_PERIOD  Production  Unemployment  Confidence      Baro
0          France     2024-09   98.350045      7.500000      -26.60  0.200768
1          France     2024-08   99.105151      7.500000      -27.70  0.356471
2          France     2024-07   98.202947      7.500000      -38.50 -0.123837
3          France     2024-06   97.898943      7.500000      -32.60 -0.123683
4          France     2024-05   97.163451      7.500000      -30.40  0.279064
5          France     2024-04   99.242443      7.400000      -34.40 -0.324518
6          France     2024-03   98.654049      7.400000      -29.10  0.154772
7          France     2024-02   98.752115      7.500000      -29.60 -0.446832
8           Italy     2024-09   98.956049      6.000000      -14.80  0.145720
9           Italy     2024-08   99.377138      6.100000      -18.00 -0.224698
10          Italy     2024-07   99.377138      6.300000      -14.20  0.278341
11          Italy     2024-06  100.324590      6.700000      -16.40  0.199211
12          Italy     2024-05   99.903500      6.700000      -19.30  0.066448
13          Italy     2024-04   99.377138      6.700000      -18.70 -0.304729
14          Italy     2024-03  100.429862      6.900000      -12.80 -0.105880
15          Italy     2024-02  100.956224      7.300000      -14.00  0.000000
16          Korea     2024-02  118.848752      2.600000      -20.00  0.035691
17         Mexico     2024-09  105.815188      2.704281       51.17 -0.089360
18         Mexico     2024-08  105.182602      2.780646       51.89  0.153423
19         Mexico     2024-07  105.580483      2.712374       51.62 -0.081759
20         Mexico     2024-06  105.317490      2.763282       52.16  0.171476
21         Mexico     2024-05  104.822308      2.661897       50.12 -0.107377
22         Mexico     2024-04  104.126981      2.706683       49.80  0.015342
23         Mexico     2024-03  104.663708      2.605951       49.91  0.025576
24         Mexico     2024-02  104.023322      2.516008       49.99  0.017907
25       Portugal     2024-09   94.193967      6.600000      -12.90  0.115078
26       Portugal     2024-08   91.469348      6.400000      -14.30 -0.180511
27       Portugal     2024-07   91.761271      6.500000      -11.60  0.354066
28       Portugal     2024-06   92.150503      6.500000      -14.30  0.074162
29       Portugal     2024-05   95.653584      6.400000      -18.80 -0.041184
30       Portugal     2024-04   98.572819      6.300000      -17.00  0.297407
31       Portugal     2024-03  100.713591      6.400000      -24.20  0.215256
32       Portugal     2024-02   97.891664      6.500000      -28.30  0.057987
33         France     2024-01   98.340239      7.500000      -21.40  0.309113
34          Italy     2024-01  100.956224      7.200000      -11.60  0.026477
35          Korea     2024-01  115.443954      3.000000      -19.00  0.226553
36         Mexico     2024-01  104.303261      2.731031       50.49  0.079364
37       Portugal     2024-01   97.307817      6.400000      -32.10  0.182578
38          Korea     2024-09  118.103953      2.500000      -21.00 -0.095266
39          Korea     2024-08  118.210353      2.400000      -19.00 -0.332323
40          Korea     2024-07  113.422355      2.500000      -16.00  0.321484
41          Korea     2024-06  118.103953      2.800000      -20.00  0.298559
42          Korea     2024-05  117.252753      2.800000      -21.00 -0.273922
43          Korea     2024-04  118.103953      2.800000      -19.00  0.000000
44          Korea     2024-03  115.124754      2.800000      -20.00 -0.142712